.seller__item__card {
  background-color: #1c1816;
  margin-right: 20px;
  box-sizing: border-box;
  text-align: center; /* to center elements inside a div*/
  padding: 36px;
  /* border-radius: 50% 50% 5% 50%; */
  width: 20%;
}

.seller_item__title {
  font-size: medium;
}
